{
    "presets": [
        "@babel/preset-env",
        [
            "@babel/preset-react",
            {
                "loose": true,
                "shippedProposals": true
                "runtime": "automatic"
            }
        ]
    ],
    "plugins": [
        "@babel/plugin-proposal-class-properties"
    ]
}
