.config{
    position: absolute;
    z-index: 999;  
    bottom: 20px;
    right: 20px  
}

.config-row{
  height: 55px;
  display:flex;
  justify-content: right;
  margin-bottom:10px;
}


.config-img, .config-icon{
  width:55px;
  cursor:pointer;
  justify-content: center;
}

.config-label, .config-icon{
  align-items: center;
  box-shadow: rgba(115, 136, 217, 0.3) 0px 3px 5px -1px, rgba(115, 136, 217, 0.14) 0px 6px 10px 0px, rgba(115, 136, 217, 0.12) 0px 1px 18px 0px;
  border-radius: 30px; 
  color:white;
  background-color: #f44336;
  display:flex;
  padding: 0px 10px 0px 10px;
}

.inverse{
  color: #f44336;
  background-color: white;
}