html, body, #root, .container {
    height: 100vh;
    overflow:hidden
}

.MuiSlider-root{
    color: white !important
}

.marquee {
    animation: marquee 5s linear infinite;
}

@keyframes marquee {
    0% { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
}