$container_padding: 20px 20px 10px 20px;
$font-size : 13px;
$background: #202020;
$color: #ffffff;
$cover-size: 105px;
$player-border-radius: 8px;
$player-shadow: 0 0 16px rgba(0,0,0,0.5);

$buttons_background: rgba(0,0,0,0);
$buttons_color: #ffffff;
$buttons_color_hover: #ff0000;
$buttons_border_width: 3px;
$buttons_border: $buttons_border_width solid;
$buttons_border_radius: 30px;
$buttons_size: 45px;

$scrollbar-color: #ff0000;
$scrollbar-background: #ffffff;


$cover_border_radius: 3px;

$trackbar_active_color: #ff0000;
$trackbar_active_color_input: rgba(255,255,255,0.5);
$range_color: #ffffff;
$range_color_hover: #ff0000;

// Button
$toggle_buttons_background: #ff0000;
$toggle_buttons_color: #ffffff;
$toggle_buttons_color_hover: #ff0000;
$toggle_buttons_border_width: 3px;
$toggle_buttons_border: $buttons_border_width solid;
$toggle_buttons_border_radius: 7px;
$toggle_buttons_size: 45px;
$toggle_buttons_padding: 0 12px;
